nav ul {
	background-color: #5DA7F0;
	list-style: none;
	padding: 0;
	width: 200px;
	border: 2px solid black;
	text-align: center;
}
nav ul li {
	padding: 5px;
	border-collapse: collapse;
	border-bottom: 2px solid black;
}
nav ul li:last-child {
        border-bottom: 1px solid black;
}
nav ul li a {
	color: black;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
